{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="py-5 text-center">
        <h1>История загрузок</h1>
        {% if videos %}
            <table class="table table-hover table-sm mt-5" id="history-list">

                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-center">Название</th>
                    <th scope="col" class="text-center">Дата</th>
                </tr>
                </thead>
                    {% for el in  videos %}
                        <tr>
                            <th scope="row">{{ el.id }}</th>
                            <td class="text-center">{{ el.title }}</td>
                            <td class="text-center">{{ el.date|date:"d.m.y" }}</td>
                        </tr>
                    {% endfor %}
            </table>
        {% else %}
            <p1>Вы еще не загружали видео для анализа</p1>
        {% endif %}
    </div>
{% endblock %}
